@import './Vars.scss';




.gallery__container {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  background: $background;
}

.grid__container {
    width: 100%;
    margin: 4px auto;
    justify-content: center;
    grid-gap: 16px 8px;
    padding: 8px;
  }
  

  .emptyPost {
      width: 240px;
      height: 240px;
      box-shadow: $post-shadow;
      border-radius: 3px;
      background: $empty-back;
  }

.ReactVirtualized__Masonry {
  outline: none;
}


  .post__container {
    box-shadow: $post-shadow;
    border-radius: 3px;
    background: $soft-back !important;
    height: inherit;
    overflow: hidden;
    cursor: pointer;
    .post__image {
      margin: 0;
      border-radius: 6px 6px 0 0;
      height: 80%;
      background: $soft-back;
      img {
        background: $soft-back;
        height: 100%;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      video{
        background: $soft-back;
      }
    }



    .post__description {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 4;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: auto;
      padding: 4px;
      background: $soft-back;
      border-bottom: 4px solid transparent;
      border-radius: 0  0 3px 3px;
      .post__title{
        width: 100%;
        display: inline-block;
        padding-top: 10px;
        max-height: 40px;
        overflow: hidden;
        span{
          display: inline-block;
          max-height: 45px;
          width: 90%;

          color: $white-color;
          line-height: 1.14;
          font-size:14px;
          font-weight: 600;
          text-align: left;
          
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }

      .post__info{
        justify-self: end;
        align-self: end;
        padding: .4rem .2rem;
        display: flex;
        justify-content: space-around;
        color: $light-text;
        font-size: 12px;
        letter-spacing: .3px;
      }
      .post__ups,
      .post__coments,
      .post__watch {
        @include centerContent;
        width: 33%;
        margin: 0 6px;
        z-index: 1;
        font-weight: bold;
        text-align: left;
        cursor: pointer;
        span {
          margin-left: 4px;
          margin-bottom: 0;
        }
        svg{
          font-size: 1.3rem;
        }
      }
      .post__ups:hover,
      .post__coments:hover,
      .post__watch:hover {
        color: $white-color;
        svg{
          -webkit-filter: drop-shadow(0px 0px 4px $white-color);
          filter: drop-shadow(0px 0px 4px $white-color);
        }
      }
      
    }
  }
  .post__container::after{
    z-index: 10;
     content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($white-color, 0.2);
				z-index: 1;
        transform: scaleX(0);
        transition: 0.3s all ease;
  }

  .post__container:hover::after{
    z-index: 10;
    transform: scaleX(1);
    transform-origin: top;
  }


.video-react-big-play-button {
  display: none !important;
}
